.reservation-container {
  width: 100%;
  overflow-y: scroll;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.reservation-list-container {
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin: auto;
  padding: 4%;
  background: #fff;
}

.course-title {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 10px;
  padding-top: 30px;
}

.message {
  font-size: 20px;
  color: #000;
  font-family: 'Poppins', sans-serif;
}

.error-message {
  color: #f00;
  margin-top: 20px;
}

.back-button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  background-color: #98bf0c;
  border-radius: 40px;
  color: #fff;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-bottom: 40px;
}

.back-button:hover {
  background-color: #ccc;
}

.back-button svg {
  height: 30px;
  fill: currentColor;
  margin-right: 5px;
  font-weight: bold;
  margin-bottom: 6px;
}
