.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-app {
  height: 100vh;
}

/* Home-Styles Desktop */

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 20px;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  position: relative;
}

.over-wrapper {
  position: absolute;
  bottom: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.home-title {
  font-size: 2rem;
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: bold;
  text-align: center;
}

.carousel-courses {
  width: 100%;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.course-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
}

.course-item {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 30%;
  max-width: 400px;
  display: inline-block;
  box-sizing: border-box;
}

.course-item p {
  font-size: 1rem;
  font-family: 'Poppins-Regular', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.mobile-courses {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

/* Nav-Style */

.nav-menu {
  width: 200px;
  background: #37cd21;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* ==================== Login starts ======================= */
.content-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.lg-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.reg-btn {
  background-color: #5d96eb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.msg-section {
  padding: 2px;
  text-align: center;
}

.msg-section .error {
  color: #f44336;
  font-size: 1rem;
  font-weight: bold;
}

.msg-section .success {
  color: rgb(11, 11, 78);
  font-size: 1rem;
  font-weight: bold;
}

/* ==================== Login ends ======================= */

/* ==================== Enrollment starts ======================= */

.enrollment-content {
  background-color: #4ea141;
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.enrollment-title {
  width: 40%;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px white;
}

.enrollment-text {
  width: 55%;
  color: white;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.enroll-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

.enroll-container option {
  background-color: #4ea141;
}

.enroll-btn {
  background-color: white;
  color: green;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

/* ==================== Enrollment ends ======================= */

@media screen and (max-width: 640px) {
  /* Home style Mobile */
  .home-wrapper {
    overflow-y: scroll;
    height: auto;
    display: block;
    box-sizing: border-box;
    padding: 20px;
  }

  .over-wrapper {
    position: relative;
    bottom: unset;
  }

  .course-item {
    width: 100%;
  }

  /* Login Mobile */
  .content-login {
    padding: 1rem;
  }

  /* Enrollment */
  .enrollment-content {
    padding: 1rem;
  }

  .enrollment-title {
    width: 100%;
  }

  .enrollment-text {
    width: 100%;
  }
}
