/* Google icon */
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.main-app {
  height: 100vh;
}

/* Home-Styles Desktop */

.home-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 0;
}

.home-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow: scroll;
}

.over-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.home-title {
  font-size: 2rem;
  font-family: 'Poppins-Bold', sans-serif;
  font-weight: bold;
  text-align: center;
}

.carousel-courses {
  width: 100%;
  height: 500px;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

img.carousel-icon {
  width: 80px;
}

.course-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 40px;
  padding: 0 70px;
  box-sizing: border-box;
}

.course-item {
  border-radius: 5px;
  padding: 10px;
  width: 28%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  justify-content: center;
  height: auto;
  align-items: center;
  transition: all 250ms ease-in-out;
}

.course-item:hover {
  background: #67676718;
  cursor: pointer;
  transform: scale(1.02);
}

.image-container {
  width: 180px;
  height: 180px;
  background: #98bf0c;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  border-radius: 50%;
}

img.course-image-nelson {
  width: 96%;
  height: 96%;
  border-radius: 50%;
  object-fit: cover;
}

.course-item p {
  font-size: 1rem;
  font-family: 'Poppins-Medium', sans-serif;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
  font-weight: 600;
  width: 100%;
  color: #919191;
}

p.course-title {
  font-family: 'Poppins-Black', sans-serif;
  font-weight: bold;
  font-size: 22px;
  margin-top: 28px;
  color: #282c34;
}

.separator {
  font-size: 36px;
  overflow: hidden;
  letter-spacing: -6px;
  text-align: center;
  width: 100%;
  line-height: 26px;
  padding: 10px;
  color: #c1c1c1;
  box-sizing: border-box;
  margin-bottom: 20px;
}

p.course-label {
  color: #919191;
  font-weight: 600;
  font-size: 14px;
}

.mobile-courses {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin-top: 20px;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
}

/* Nav-Style */

.nav-menu {
  width: 200px;
  background: #37cd21;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-container {
  min-width: 200px;
  max-width: 220px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px 0;
  box-sizing: border-box;
  height: 100vh;
  background: white;
  border-right: 1px solid #d6d6d6;
}

.close-menu {
  position: absolute;
  top: 15px;
  right: -10px;
  width: 70px;
  cursor: pointer;
}

.logout-btn {
  position: absolute;
  top: 15px;
  left: -10px;
  width: 70px;
  cursor: pointer;
}

.close-menu-icon {
  font-size: 2rem;
  font-weight: bold;
  color: #98bf0c;
}

.close-btn {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 42px;
  right: -70px;
  width: 70px;
  height: 60px;
  background: #98bf0c;
  color: white;
  z-index: 2;
  cursor: pointer;
  border-top-right-radius: 44%;
  border-bottom-right-radius: 44%;
}

.back-btn {
  font-size: 2rem;
  position: relative;
  left: 30px;
}

.burger-button {
  width: 40px;
  height: 40px;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 1rem;
  left: 1rem;
  z-index: 2;
}

/* ==================== Login starts ======================= */
.content-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.lg-btn {
  background-color: #04aa6d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.reg-btn {
  background-color: #5d96eb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.msg-section {
  padding: 2px;
  text-align: center;
}

.msg-section .error {
  color: #f44336;
  font-size: 1rem;
  font-weight: bold;
}

.msg-section .success {
  color: rgb(11, 11, 78);
  font-size: 1rem;
  font-weight: bold;
}

/* ==================== Login ends ======================= */

/* ==================== Enrollment starts ======================= */

.enrollment-content {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
  background:
    linear-gradient(rgba(152, 191, 12, 0.8), rgba(152, 191, 12, 0.8)),
    url("https://images.pexels.com/photos/4498362/pexels-photo-4498362.jpeg?auto=compress&cs=tinysrgb&w=1600")
    center;
  background-size: cover;
  position: relative;
}

.hamburger {
  color: white;
  font-size: 2rem;
  font-weight: 900;
}

.hamburger.green {
  background: #98bf0c;
  border-radius: 20%;
}

.enrollment-title {
  width: 40%;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 5px;
  padding-bottom: 10px;
  text-align: center;
  border-bottom: solid 1px white;
}

.enrollment-text {
  width: 55%;
  color: white;
  font-size: 1rem;
  padding-top: 20px;
  padding-bottom: 10px;
  text-align: center;
}

.enroll-field {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border-radius: 20px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  background-color: transparent;
  color: white;
  font-size: 1rem;
}

.enroll-container option {
  background-color: #98bf0c;
}

.enroll-btn-ken {
  background-color: white;
  color: #98bf0c;
  padding: 10px 15px;
  margin: 8px 0;
  border-radius: 20px;
  cursor: pointer;
  width: 100%;
}

.user {
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  font-style: italic;
}

/* ==================== Enrollment ends ======================= */

/* ==================== Reservation Component starts ======================= */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 10px;
  height: 350px;
  max-width: 300px;
  border-radius: 5px;
  background-color: #f9f9f9;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.course-name {
  margin-bottom: 5px;
  margin-left: 25px;
  font-size: 1.5rem;
  font-weight: bold;
  color: darkgreen;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.course-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  padding: 0 10px;
}

.course-info p {
  margin-right: 5px;
  font-weight: bold;
  color: #666;
}

.course-info span {
  color: #333;
}

.card-price {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-size: 20px;
  height: 40px;
  background-color: #98bf0c;
}

.card-price p {
  color: #fff;
  font-style: italic;
}

.card-price span {
  color: #fff;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* ==================== Reservation Component ends ======================= */

@media screen and (max-width: 1000px) {
  .nav-container {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    height: 100vh;
    min-width: 200px;
  }

  /* Home style Mobile */
  .home-wrapper {
    overflow-y: scroll;
    height: 100vh;
    display: block;
    box-sizing: border-box;
    padding: 20px;
  }

  .over-wrapper {
    position: relative;
    bottom: unset;
  }

  .course-item {
    border-radius: 20px;
    border: 1px solid #c1c1c1;
    width: 80%;
  }

  /* Login Mobile */
  .content-login {
    padding: 1rem;
  }

  /* Enrollment */
  .enrollment-content {
    padding: 1rem;
  }

  .enrollment-title {
    width: 100%;
  }

  .enrollment-text {
    width: 100%;
  }
}

@media screen and (max-width: 425px) {
  .image-container {
    width: 180px;
    height: 180px;
  }
}

/* hide after 5 seconds */
.hide {
  animation: hideAnimation 0s ease-in 5s;
  animation-fill-mode: forwards;
}

@keyframes hideAnimation {
  to {
    visibility: hidden;
    width: 0;
    height: 0;
  }
}

.hideBack {
  display: none;
}
