@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-Regular', sans-serif;
  src: url('./assets/fonts/Poppins-Regular.ttf');
}

@font-face {
  font-family: 'Poppins-Medium', sans-serif;
  src: url('./assets/fonts/Poppins-Medium.ttf');
}

@font-face {
  font-family: 'Poppins-Bold', sans-serif;
  src: url('./assets/fonts/Poppins-Bold.ttf');
}

body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}

.delete-course {
  overflow-y: scroll;
}

/* stylelint-disable */
@layer components {
  .nav_item {
    @apply flex w-11/12 ml-4 justify-start p-2 my-1 text-lg hover:bg-slate-100;
  }

  .active {
    @apply text-white bg-[#97BF11];
  }
  
   .enroll-btn {
    @apply flex bg-[#98BF0C] hover:bg-blue-700 text-white text-lg 
    font-bold py-4 px-2 border border-blue-700 rounded-full items-center 
    border-none justify-around mt-10 md:w-3/4 md:ml-auto
   }
}
